.campana1 {
  width: 95px;
  height: 95px;
  background: url("../assets/campana.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 495px;
  left: 145px;
  overflow: hidden;
}

.campana2 {
  width: 107px;
  height: 119px;
  background: url("../assets/campana.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 903px;
  overflow: hidden;
}

.boca1 {
  width: 126px;
  height: 119px;
  background: url("../assets/boca.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 339px;
  left: 365px;
  overflow: hidden;
}

.boca2 {
  width: 124px;
  height: 119px;
  background: url("../assets/boca.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 1115px;
  overflow: hidden;
}

.gusano1 {
  width: 114px;
  height: 72px;
  background: url("../assets/gusano.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 613px;
  left: 90px;
  overflow: hidden;
}

.gusano2 {
  width: 96px;
  height: 80px;
  background: url("../assets/gusano.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 893px;
  overflow: hidden;
}

.gusano3 {
  width: 92px;
  height: 61px;
  background: url("../assets/gusano.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 101px;
  overflow: hidden;
}

.gusano4 {
  width: 76px;
  height: 78px;
  background: url("../assets/gusano.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 187px;
  overflow: hidden;
}

.reloj2 {
  width: 94px;
  height: 99px;
  background: url("../assets/reloj.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 1130px;
  overflow: hidden;
}

.reloj1 {
  width: 99px;
  height: 102px;
  background: url("../assets/reloj.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 193px;
  overflow: hidden;
}

.reloj3 {
  width: 126px;
  height: 126px;
  background: url("../assets/reloj.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 486px;
  left: 365px;
  overflow: hidden;
}

.tostadora4 {
  width: 150px;
  height: 149px;
  background: url("../assets/tostadora.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 101px;
  overflow: hidden;
}

.tostadora3 {
  width: 100px;
  height: 101px;
  background: url("../assets/tostadora.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 378px;
  overflow: hidden;
}

.tostadora1 {
  width: 126px;
  height: 116px;
  background: url("../assets/tostadora.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 1080px;
  overflow: hidden;
}

.tostadora2 {
  width: 139px;
  height: 137px;
  background: url("../assets/tostadora.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 521px;
  left: 871px;
  overflow: hidden;
}

.jesus {
  width: 264px;
  height: 491px;
  background: url("../assets/jesus.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  left: 569px;
  overflow: hidden;
}
